@model ExercicioTesteClientes.Models.TBClientes

@{
    ViewData["Title"] = "Exercicio Teste - Excluir Cliente";
}


<h3>Deseja realmente EXCLUIR este Cliente?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayName("Tipo")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tipos.Tipo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Documento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Documento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Telefone)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-default" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
